<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="markdown">
    <link rel="stylesheet" href="/static/css/editormd.min.css">
    <link rel="stylesheet" href="/static/css/editormd.preview.min.css">
    <script src="/static/js/editormd.min.js" type="application/javascript"></script>
    <script src="/static/js/moment.js" type="application/javascript"></script>
    <script src="/static/js/lib/marked.min.js"></script>
    <script src="/static/js/lib/prettify.min.js"></script>
</head>

</html>