<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 路径 指向dao层接口-->
<mapper namespace="tusdigital.community.community.dao.UserDao" >
    <sql id="Base_Column_List" >
  id,name,password,email,logintype,usertype,credit,token,createtime,modifidetime,avatar_url
  </sql>

    <!--resultType 指向entity中对应的实体-->
    <select id="findAllUser" parameterType="map" resultType="tusdigital.community.community.domain.User">
        select  <include refid="Base_Column_List"></include>
        from user
    </select>

    <select id="login" resultType="tusdigital.community.community.domain.User">
        select * from user where name = #{loginName} and password = #{password}
  </select>


    <insert id="addUser" parameterType="tusdigital.community.community.domain.User">
        insert into user (name,password,email,logintype,usertype,credit,token,createtime,modifidetime,avatar_url)
        VALUES(#{name},#{password,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{logintype},#{usertype},#{credit},#{token},#{createtime},#{modifidetime},#{avatar_url,jdbcType=VARCHAR})
    </insert>

    <select id="findByName" resultType="tusdigital.community.community.domain.User" parameterType="String">
        select * from user where name = #{name}
  </select>

    <select id="findByToken" resultType="tusdigital.community.community.domain.User" parameterType="String">
        select * from user where token = #{token}
  </select>

    <select id="findById" resultType="tusdigital.community.community.domain.User" parameterType="Integer">
        select * from user where id = #{id}
  </select>


    <update id="updateUser" parameterType="tusdigital.community.community.domain.User">
        <if test="id!=null">
            update
            user
            <set>
                <if test="password!=null and password!=''">
                    password = #{password},
                </if>
                <if test="email!=null and email!=''">
                    email = #{email},
                </if>
                <if test="logintype!=null and logintype!=''">
                    logintype = #{logintype},
                </if>
                <if test="usertype!=null and usertype!=''">
                    usertype = #{usertype},
                </if>
                <if test="credit!=null and credit!=''">
                    credit = #{credit},
                </if>
                <if test="token!=null and token!=''">
                    token = #{token},
                </if>
                <if test="modifidetime!=null and modifidetime!=''">
                    modifidetime = #{modifidetime},
                </if>
                <if test="avatar_url!=null and avatar_url!=''">
                    avatar_url = #{avatar_url},
                </if>
            </set>
            where id = #{id}
        </if>
    </update>





</mapper>
